<?xml version="1.0" encoding="utf-8"?>
<ObjManager>
  <Player>
    <P1>
      <color type="D3DXVECTOR4" x="0.8" y="0.2" z="0.2" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.025" y="0.05" z="0.05" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\combship1.X" />
    </P1>
    <P2>
      <color type="D3DXVECTOR4" x="0.2" y="0.2" z="0.8" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.025" y="0.05" z="0.05" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\combship1.X" />
    </P2>
    <P3>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.025" y="0.05" z="0.05" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\combship1.X" />
    </P3>
    <P4>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.025" y="0.05" z="0.05" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\combship1.X" />
    </P4>
  </Player>

  <World>
    <colorMap type="string" file="..\\Media\\Textures\\colorMap.jpg" />
    <normalMap type="string" file="..\\Media\\Textures\\normalTest1.dds" />
    <irraTexture type="string" file="..\\Media\\Textures\\SkyBox\\Grace_irrad_cube.dds" />
    <mesh type="string" file="..\\Media\\Models\\sphere2.X" />
    <position type="D3DXVECTOR3" x="0.0" y="0.0" z="0.0" />
    <scale type="float" x="0.1" y="0.01" z="0.01" />
  </World>

  <Base>
    <B1>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B1>
    <B2>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B2>
    <B3>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B3>
    <B4>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B4>
    <B5>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B5>
    <B6>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B6>
    <B7>
      <color type="D3DXVECTOR4" x="1.0" y="1.0" z="1.0" w="1.0" />
      <position type="D3DXVECTOR3" x="0.0" y="0.0" z="-55.0" />
      <scale type="float" x="0.1" y="0.1" z="0.1" />
      <texture type="string" file="..\\Media\\Textures\\tiger.bmp" />
      <mesh type="string" file="..\\Media\\Models\\cube.X" />
    </B7>
  </Base>
  
	<AI>		
		<AI1>
			<position type="D3DXVECTOR3" x="0.0" y="0.0" z="0.0" />
			<scale type="float" x="0.0" y="0.0" z="0.0" />
			<texture type="string" file="..\\Media\\Textures..\\..." />
			<mesh type="string" file="..\\Media\\Textures..\\..." />
		</AI1>		
		<AI2>
			<position type="D3DXVECTOR3" x="0.0" y="0.0" z="0.0" />
			<scale type="float" x="0.0" y="0.0" z="0.0" />
			<texture type="string" file="..\\Media\\Textures..\\..." />
			<mesh type="string" file="..\\Media\\Textures..\\..." />
		</AI2>		
		<AI3>
			<position type="D3DXVECTOR3" x="0.0" y="0.0" z="0.0" />
			<scale type="float" x="0.0" y="0.0" z="0.0" />
			<texture type="string" file="..\\Media\\Textures..\\..." />
			<mesh type="string" file="..\\Media\\Textures..\\..." />
		</AI3>	
	</AI>		
	<SkyBox>			
		<scale type="float" x="2.0" y="2.0" z="2.0" />
		<cubeTexture type="string" file="..\\Media\\Textures\\SkyBox\\Grace_cube.dds" />
		<mesh type="string" file="..\\Media\\Models\\skybox01.x" />			
	</SkyBox>
</ObjManager>
